In [1]:
import pandas as pd
import os
import numpy as np
from itertools import combinations
from matplotlib import pyplot as plt

# Identify the top 10 gainers (%) across groups over the last 5 years period.

In [2]:
data = {}
for root,dirs,files in os.walk(os.curdir):
    for file in files:
        if file.endswith('.csv') and file.startswith("5"):
            name = os.path.splitext(file)[0]
            df = pd.read_csv(file, thousands = ",")
            df["Date"] = pd.to_datetime(df["Date"])
            df.sort_values(by = "Date", inplace = True)
            try :
                start = df["Close"].iloc[0]
            except Exception as e:
                start = df["Close Price"].iloc[0]
            
            try :
                end = df["Close"].iloc[-1]
            except Exception as e:
                end = df["Close Price"].iloc[-1]
            gain = (end/start) - 1
            data[name] = gain

In [3]:
df = pd.DataFrame(data.items(), columns = ["security", "gain"])
df.sort_values(by = "gain", inplace = True, ascending = False)
df.head(10)

   security      gain
63   500126  7.770662
59   500120  6.584091
26   500052  4.462151
55   500114  3.437920
11   500027  3.026806
36   500085  2.841322
5    500012  2.380471
99   500199  2.367250
23   500043  2.128142
31   500069  2.027523

# Identify the top 10 gainers (%) across groups over the last 3 years period.Â¶

In [4]:
data = {}
for root,dirs,files in os.walk(os.curdir):
    for file in files:
        if file.endswith('.csv') and file.startswith("5"):
            name = os.path.splitext(file)[0]
            df = pd.read_csv(file, thousands = ",")
            df = df[0 : 750]
            df["Date"] = pd.to_datetime(df["Date"])
            df.sort_values(by = "Date", inplace = True)
            
            try :
                start = df["Close"].iloc[0]
            except Exception as e:
                start = df["Close Price"].iloc[0]
            
            try :
                end = df["Close"].iloc[-1]
            except Exception as e:
                end = df["Close Price"].iloc[-1]
            gain = (end/start) - 1
            data[name] = gain

In [5]:
df = pd.DataFrame(data.items(), columns = ["security", "gain"])
df.sort_values(by = "gain", inplace = True, ascending = False)
df.head(10)

   security      gain
63   500126  4.623187
59   500120  2.417307
67   500136  2.264256
17   500034  2.037351
11   500027  1.467680
65   500133  1.333519
61   500124  1.155175
23   500043  1.153474
3    500009  0.936893
55   500114  0.793153

# Identify the top 10 gainers (%) across groups over the last 2 years period.

In [6]:
data = {}
for root,dirs,files in os.walk(os.curdir):
    for file in files:
        if file.endswith('.csv') and file.startswith("5"):
            name = os.path.splitext(file)[0]
            df = pd.read_csv(file, thousands = ",")
            df = df[0 : 500]
            df["Date"] = pd.to_datetime(df["Date"])
            df.sort_values(by = "Date", inplace = True)
            
            try :
                start = df["Close"].iloc[0]
            except Exception as e:
                start = df["Close Price"].iloc[0]
            
            try :
                end = df["Close"].iloc[-1]
            except Exception as e:
                end = df["Close Price"].iloc[-1]
            gain = (end/start) - 1
            data[name] = gain

In [7]:
df = pd.DataFrame(data.items(), columns = ["security", "gain"])
df.sort_values(by = "gain",inplace = True, ascending = False)
df.head(10)

   security      gain
67   500136  2.180217
59   500120  1.542476
66   500135  1.481268
63   500126  1.344147
65   500133  1.090813
17   500034  1.076166
33   500078  1.044979
61   500124  0.975155
11   500027  0.888631
55   500114  0.746668

# Identify the top 10 gainers (%) across groups over the last 1 year period.

In [8]:
data = {}
for root,dirs,files in os.walk(os.curdir):
    for file in files:
        if file.endswith('.csv') and file.startswith("5"):
            name = os.path.splitext(file)[0]
            df = pd.read_csv(file, thousands = ",")
            df = df[0 : 250]
            df["Date"] = pd.to_datetime(df["Date"])
            df.sort_values(by = "Date", inplace = True)
            
            try :
                start = df["Close"].iloc[0]
            except Exception as e:
                start = df["Close Price"].iloc[0]
            
            try :
                end = df["Close"].iloc[-1]
            except Exception as e:
                end = df["Close Price"].iloc[-1]
            gain = (end/start) - 1
            data[name] = gain

In [9]:
df = pd.DataFrame(data.items(), columns = ["security", "gain"])
df.sort_values(by = "gain", inplace = True, ascending = False)
df.head(10)

   security      gain
41   500093  3.058615
67   500136  2.277933
45   500102  2.255814
76   500160  1.960000
33   500078  1.928233
26   500052  1.613918
99   500199  1.607572
59   500120  1.597898
93   500187  1.321816
6    500013  1.156436

# Identify the top 10 gainers (%) across groups over the last 6 months period.

In [10]:
data = {}
for root,dirs,files in os.walk(os.curdir):
    for file in files:
        if file.endswith('.csv') and file.startswith("5"):
            name = os.path.splitext(file)[0]
            df = pd.read_csv(file, thousands = ",")
            df = df[0 : 130]
            df["Date"] = pd.to_datetime(df["Date"])
            df.sort_values(by = "Date", inplace = True)
            
            try :
                start = df["Close"].iloc[0]
            except Exception as e:
                start = df["Close Price"].iloc[0]
            
            try :
                end = df["Close"].iloc[-1]
            except Exception as e:
                end = df["Close Price"].iloc[-1]
            gain = (end/start) - 1
            data[name] = gain

In [11]:
df = pd.DataFrame(data.items(), columns = ["security", "gain"])
df.sort_values(by = "gain", inplace = True, ascending = False)
df.head(10)

   security      gain
41   500093  4.519324
76   500160  4.481481
33   500078  2.233382
26   500052  2.084364
99   500199  1.959134
82   500170  1.543636
5    500012  1.425121
67   500136  1.394898
54   500113  1.353041
6    500013  1.254658

# Identify the top 10 gainers (%) across groups over the last 3 months period.

In [12]:
data = {}
for root,dirs,files in os.walk(os.curdir):
    for file in files:
        if file.endswith('.csv') and file.startswith("5"):
            name = os.path.splitext(file)[0]
            df = pd.read_csv(file, thousands = ",")
            df = df[0 : 75]
            df["Date"] = pd.to_datetime(df["Date"])
            df.sort_values(by = "Date", inplace = True)
            
            try :
                start = df["Close"].iloc[0]
            except Exception as e:
                start = df["Close Price"].iloc[0]
            
            try :
                end = df["Close"].iloc[-1]
            except Exception as e:
                end = df["Close Price"].iloc[-1]
            gain = (end/start) - 1
            data[name] = gain

In [13]:
df = pd.DataFrame(data.items(), columns = ["security", "gain"])
df.sort_values(by = "gain", inplace = True, ascending = False)
df.head(10)

   security      gain
76   500160  2.920530
6    500013  1.503448
73   500151  1.253304
26   500052  1.155660
41   500093  0.888430
93   500187  0.765766
54   500113  0.763291
99   500199  0.677956
27   500055  0.668067
33   500078  0.633284

# Identify the top 10 gainers (%) across groups over the last 1 month period.

In [14]:
data = {}
for root,dirs,files in os.walk(os.curdir):
    for file in files:
        if file.endswith('.csv') and file.startswith("5"):
            name = os.path.splitext(file)[0]
            df = pd.read_csv(file, thousands = ",")
            df = df[0 : 30]
            df["Date"] = pd.to_datetime(df["Date"])
            df.sort_values(by = "Date", inplace = True)
            
            try :
                start = df["Close"].iloc[0]
            except Exception as e:
                start = df["Close Price"].iloc[0]
            
            try :
                end = df["Close"].iloc[-1]
            except Exception as e:
                end = df["Close Price"].iloc[-1]
            gain = (end/start) - 1
            data[name] = gain

In [15]:
df = pd.DataFrame(data.items(), columns = ["security", "gain"])
df.sort_values(by = "gain", inplace = True, ascending = False)
df.head(10)

   security      gain
68   500143  1.525263
6    500013  1.491991
73   500151  1.298876
7    500014  0.902174
82   500170  0.840789
76   500160  0.804878
91   500185  0.740883
54   500113  0.728288
24   500048  0.557455
5    500012  0.521212