In [1]:
import pandas as pd
import os
import numpy as np
from itertools import combinations
from matplotlib import pyplot as plt

# Identify the top 10 gainers (%) across groups over the last one month, 3 months, 6 months, one year, 2 years, 3 years and 5 years period.

In [2]:
data = {}
for root,dirs,files in os.walk(os.curdir):
    for file in files:
        if file.endswith('.csv') and file.startswith("5"):
            name = os.path.splitext(file)[0]
            df = pd.read_csv(file, thousands = ",")
            df["Date"] = pd.to_datetime(df["Date"])
            df.sort_values(by="Date", inplace = True)
            
            try :
                start = df["Close"].iloc[0]
            except Exception as e:
                start = df["Close Price"].iloc[0]
            
            try :
                end = df["Close"].iloc[-1]
            except Exception as e:
                end = df["Close Price"].iloc[-1]
            gain = (end/start) - 1
            data[name] = gain

In [3]:
df = pd.DataFrame(data.items(), columns = ["security", "gain"])
df.sort_values(by = "gain", inplace = True, ascending = False)
top10 = int(df.shape[0] * 0.1)
df.head(top10)

   security      gain
63   500126  7.770662
59   500120  6.584091
26   500052  4.462151
55   500114  3.437920
11   500027  3.026806
36   500085  2.841322
5    500012  2.380471
99   500199  2.367250
23   500043  2.128142
31   500069  2.027523